@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    --primary-font : 'roboto',sans-serif;
}
body{
    margin : 0;
    background-color: #F1f5f8;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: var(--primary-font);
}
nav{
    background-color: white;
    /* position: absolute; */
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
   
}
.nav-center{
    max-height: 3.2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    flex:1 1 100px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
h4 {
    color: #49a6e9;
    padding-left :2rem;
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #222222;
    margin: 5px;
    
}
.container{
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: space-between;
}
.container h4{
    background :#222222;
    box-sizing: border-box;
    max-width: 700px;
    margin: auto;
    padding: 1rem; 
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 1rem;
    margin-top: 10rem;
}
span{
    color: #49a6e9;
}
#btn:hover{
    background: #222222;
    color: white; 
}
.btn{
    margin-top: 1rem;
    box-sizing: border-box;
    background: transparent;
    color: #222222;
    border:2px solid #222222;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    transition:all 0.3s linear;
    max-width: 200px;
    place-self: center;
}

